{% extends 'base.html.twig' %}
{% set staffdirectory_nav = true %}

    {% block title %}Staff Directory{% endblock %}

    {% block body %}

        <main>
            <body>

            <div class='table-responsive' align="center">

                <table id="myTable" class="table table-hover table-bordered" style="width:75%">

                    <form class="form-group" method="POST">
                        <!-- Search form -->
                        <div style="width:75%;">
                            <div class="form-group" style="width:70%; float:left; display: inline-block;">
                                <input class="form-control" id="myInput" type="text"
                                       onkeyup="myFunction()"
                                       placeholder="Search for staff..." aria-label="Search">
                            </div>

                            <div class="form-group" style="width:25%; float:right; display: inline-block;">
                                <select id="sel" class="form-control" name="dropdown">
                                    <option value="all">All Departments</option>
                                    {% for department in departments %}
                                        <option value="{{ department }}">{{ department }}</option>
                                    {% endfor %}
                                </select>
                                <br>
                            </div>
                        </div>
                    </form>

                    <thead class="table table-dark">
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Position</th>
                        <th scope="col">Department</th>
                        <th scope="col">Email</th>
                        <th scope="col" style="white-space:nowrap">Phone Number</th>
                        <th scope="col">Room</th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for staff in staffs %}
                        <tr data-department="{{ staff.department }}">
                            <td>{{ staff.name }}</td>
                            <td>{{ staff.position }}</td>
                            <td>{{ staff.department }}</td>
                            <td>{{ staff.email }}</td>
                            <td>{{ staff.phoneNum }}</td>
                            <td>{{ staff.room }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
            </div>

            </body>
        </main>

        <script>
            function myFunction() {
                var input, filter, table, tr, td, i, txtValue;
                input = document.getElementById("myInput");
                filter = input.value.toUpperCase();
                table = document.getElementById("myTable");
                tr = table.getElementsByTagName("tr");
                for (i = 0; i < tr.length; i++) {
                    td = tr[i].getElementsByTagName("td")[0];
                    if (td) {
                        txtValue = td.textContent || td.innerText;
                        if (txtValue.toUpperCase().indexOf(filter) > -1) {
                            tr[i].style.display = "";
                        } else {
                            tr[i].style.display = "none";
                        }
                    }
                }
            }
        </script>

        <script>
            $('#sel').on('change', function () {
                var val = $(this).val();

                if (val === 'all') {
                    $('#myTable tbody tr').show();
                } else {
                    $('#myTable tbody tr').hide();
                    $('#myTable tr[data-department="' + val + '"]').show();
                }
            });
        </script>
    {% endblock %}
